
.custom-nav button{
    padding: 0;
}

.custom-button-toggler{
    padding: 0;
    border: none;
}

.custom-button-toggler img{
    width: 35px;
}

.navbar-nav .nav-item .nav-link{
  color: #fcfcfc;
  font-weight: 400;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #ff6347;
  }
