
.custom-nav button{
    padding: 0;
}

.custom-button-toggler{
    padding: 0;
    border: none;
}

.custom-button-toggler img{
    width: 35px;
}

.navbar-nav .nav-item .nav-link{
  color: #fcfcfc;
  font-weight: 400;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #ff6347;
  }

.custom-section{
    width: inherit;
    padding: 40px 0px;
}

.custom-section .col-lg-4{
    margin-top: 100px;
}

.custom-section .col-lg-4 h2{
    font-weight: 700;
    font-size: 63px;
    color: #000;
    margin-bottom: 0;
    line-height: 1;
    white-space: nowrap;
}

.custom-section .col-lg-4 p{
    font-size: 16px;
    color: #000;
    margin-top: 20px;
}

.custom-section .col-lg-4 a:hover{
    color: tomato;
    background-color: white;
    border: 1px solid tomato;
}

.custom-section .col-lg-8 img{
    width: 100%;
    position:absolute;
    top: -14rem;
    right: -11%;
}

